<!DOCTYPE html>

<html>

    <head>
        <title>О рабочем</title>
    </head>

    <body>
       <p>
            <p>Сохранено успешно</p>
            <!--<form  action="/saveworker" method="get">-->
                <!--<input type="hidden" name="id" value="{{id}}">-->
                <!--<input type="text" name="name" value="{{name}}">-->
                <!--<input type="text" name="fname" value="{{fname}}">-->
                <!--<input type="submit" value="изменить">-->
            <!--</form>-->
            <!--<p>{{instance.status}}</p>-->
            <!--<p>Баланс {{instance.balance}}</p>-->
            {{instance}}

       </p>
    </body>

</html>