<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Информация о рабах</title>

        <link rel="shortcut icon" href="{% static  'workers/image/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static  'workers/image/favicon.ico' %}" type="image/x-icon">
        <link href="{% static 'workers/css/main.css' %}" rel="stylesheet" type='text/css'>
        <link href="{% static 'workers/css/foundation.css' %}" rel="stylesheet" type='text/css'>
        <link href="{% static 'workers/css/foundation.min.css' %}" rel="stylesheet" type='text/css'>

    </head>

    <body>
        <!--кнопки для авторизации-->
        <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar">
            {% if user.is_authenticated %}
                <div class="top-bar-left">
                        <ul class="menu simple vertical medium-horizontal">
                            <li><a href="/workers/">Список рабов</a></li>
                            <li><a href="/otdels/">Список отделов</a></li>
                        </ul>
                 </div>
                <div class="top-bar-right">
                    <ul class="menu simple vertical medium-horizontal">
                         <li><a href="/auth/logout/">Выйти ({{ user.username }})</a> </li>
            {% else %}
                         <li><a href="/auth/login">Войти</a> </li>
                    </ul>
                </div>

                </section>
            {% endif %}
        </div>
        </div>
        <!--###-->

       <div class="container">
            <div class="content">
                {% if user.is_authenticated %}
                    {% block content %}{% endblock %}
                {% else %}
                    <p>Необходимо авторизоваться</p>
                {% endif %}

                {% block login %}{% endblock %}
            </div>
        </div>

    </body>

</html>